@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  font-family: "Comic Neue", cursive;
}
p {
  margin-bottom: 1rem;
}
a {
  text-decoration: none;
}
.container {
  margin: 0;
}
.header {
  position: fixed;
  z-index: 5;
  width: 100%;
  top: 0;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  padding: 0 2rem;
}
.header-container p {
  margin-bottom: 0;
}
.logo {
  font-size: 1.5rem;
  z-index: 10;
  font-family: "Pacifico", cursive;
}
nav {
  display: flex;
  column-gap: 3.12rem;
}
.nav a {
  color: #ffffff;
}
a[href^="#"] {
  cursor: pointer;
}

a[href^="#"]:hover {
  text-decoration: underline;
}

.nav a.active {
  background-color: #ffffff;

  color: red;
}

a {
  text-decoration: none;
}
.burger {
  display: none;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  background-color: transparent;
  border: none;
  height: 35px;
  width: 40px;
  row-gap: 5px;
  padding: 0 5px;
}
.burger span {
  background-color: #ffffff;
  height: 2px;

  align-items: left;
}
.line1 {
  width: 80%;
}
.line2 {
  width: 100%;
}
.line3 {
  width: 50%;
}
main {
  display: flex;
  width: 100%;
}

svg {
  stroke: #ffffff;
}
.hero {
  width: 100%;
  display: flex;
  column-gap: 2.5rem;
  margin-top: 6.25rem;
  padding: 0 2rem;
}
.left {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;

  height: 34rem;
  text-align: left;
  line-height: 40px;
}
.left h1 {
  font-size: 4rem;
  font-family: "Noto Serif", serif;
  font-weight: 900;
  line-height: 1.2;
  text-align: justify;
}
.left p {
  font-size: 1.7rem;
  font-weight: 300;
}
.left span {
  font-size: 1.68rem;
  font-weight: 600;
}
.right {
  width: 50%;
}
.right img {
  width: 100%;
}

.top1 span {
  font-size: 3rem;
  font-weight: 300;
  font-family: "Noto Serif", serif;
  width: 40rem;
  text-align: center;
}
.top1 p {
  font-size: 3.75rem;
  font-family: "Noto Serif", serif;
  text-align: center;
}
.top2 span {
  font-size: 1.87rem;
}
.top2 p {
  font-size: 1.87rem;
}
.bottom1 span {
  font-size: 3rem;
  font-weight: 300;
  font-family: "Noto Serif", serif;

  text-align: center;
}
.bottom1 p {
  font-size: 3.75rem;
  font-family: "Noto Serif", serif;
  text-align: center;
}
.bottom2 span {
  font-size: 1.87rem;
}
.bottom2 p {
  font-size: 1.87rem;
}
.vertical {
  border-left: 1px solid #fff;
  height: 12.5rem;
  left: 50%;
  margin: 6.25rem 0;
}
.story {
  display: flex;
  padding: 0 2rem;
  padding-top: 9.37rem;
  column-gap: 6.25rem;
}
.story h3 {
  font-size: calc(1.3rem + 0.6vw);
  line-height: 2.5rem;
  font-weight: 600;
  font-family: "Noto Serif", serif;
  color: #b9b9b9;
}
.story p {
  margin-bottom: 1.87rem;
  font-size: 1.5rem;
}
.projects {
  padding: 2rem;
}
.project-header span {
  font-size: 3rem;
  font-weight: 600;
  font-family: "Noto Serif", serif;
}
.project-header p {
  font-size: 1.25rem;
  font-weight: 100;
  color: #b9b9b9;
}
.work-container {
  margin-top: 100px;
  display: flex;
}
.work-image {
  width: 58.33%;
  position: relative;
}
.image-link {
  width: 100%;
}

.work-image a {
  position: relative;
}
.project-image {
  width: 90%;
}
.pc-view-cont {
  display: hidden;
}

.mobile-view-cont {
  /*position: absolute;*/
  top: 0.7rem;
  right: 3rem;
  height: 100%;
  z-index: 3;
}
.mobile-view {
  height: 100%;
  position: relative;
  right: 0;
}
.image {
  width: 100%;
  padding: 0.75rem;
}
.work-text {
  width: 41.67%;
}
.work-text p:first-child {
  color: #b9b9b9;
  font-size: 1.2rem;
}
.work-text p:nth-child(2) {
  margin-top: 20px;
}
.work-text p:nth-child(2) a {
  font-size: 3rem;
  font-weight: 500;
  font-family: "Noto Serif", serif;
  color: #fff;
}
.work-details {
  font-size: 1.2rem;
  color: #b9b9b9;
}
.work-text p:last-child {
  font-size: 1.2rem;
  color: #b9b9b9;
  line-height: 1.5rem;
}
.stack {
  margin-top: 1rem;
}
.stack span {
  font-weight: 600;
  color: #ffffff;
}
.contact {
  padding: 2rem;
}
.contact-text {
  width: 100%;
  max-width: 100%;
  text-align: center;
  margin-top: 100px;
  padding: 0 5%;
}
.contact-text h2 {
  font-size: 50px;
}
.contact-text p {
  font-size: 20px;
  font-weight: 300;
  margin-top: 20px;
  font-family: "Comic Neue", cursive;
}
.contact-form {
  display: flex;
  margin-top: 80px;
}
.contact-link {
  width: 33.33%;
}
.contact-link img {
  width: 20px;
  height: 20px;
}
form {
  width: 66.67%;
  font-size: 24px;
  font-family: 300;
  font-family: "Comic Neue", cursive;
}
.input-top {
  display: flex;
  justify-content: space-between;
}
.input-middle,
.input-bottom {
  margin-top: 80px;
}
.name-container,
.email-container {
  width: 47%;
}
label {
  font-size: 20px;
  display: inline-block;
}
input,
textarea {
  width: 100%;
  padding: 20px 0;
  font-size: 18px;
  background-color: transparent;
  color: #fff;
  border: none;
  border-bottom: 1px solid #555;
  font-family: inherit;
  line-height: inherit;
  resize: none;
}
.btn {
  margin-top: 30px;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  width: 200px;
  padding: 10px 0;
  border-radius: 60px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  cursor: pointer;
}

footer {
  padding: 200px 0 30px;
  text-align: center;
}
.footer-container {
  display: grid;
  place-items: center;
}
.footer-text1 {
  font-size: 48px;
  font-weight: 900;
  font-family: "Noto Serif", serif;
}
.footer-text2 {
  font-size: 20px;
  margin-bottom: 150px;
}
.footer-container nav {
  display: flex;
  justify-content: space-around;
  padding: 0 50px;
}
.footer-container nav a {
  color: #ffffff;
}
.copy {
  font-family: "Noto Serif", serif;
  font-size: 16px;
  margin-top: 30px;
  color: #b9b9b9;
}

.rotate1 {
  transform: rotate(45deg) translate(5px, 6px);
  transition: 1s ease;
  width: 100%;
}
.rotate2 {
  display: none;
}
.rotate3 {
  transform: rotate(-45deg) translate(-1px, -1px);
  transition: 1s ease;
  width: 100%;
}
.show-nav {
  transform: translateY(-1000%);
}
.hide-left {
  transform: translateX(-210%);
}
.hide-right {
  transform: translateX(210%);
}
.hide-left,
.hide-right {
  transition: transform 0.9s;
}
.show-item {
  transform: translate(0);
}

@media only screen and (max-width: 400px) {
  .mobile-view {
    left: 0;
  }
}

@media only screen and (max-width: 768px) {
  html,
  body {
    width: 100%;
    overflow-x: hidden;
  }
  header {
    width: 100%;
  }
  .nav {
    display: none;
  }
  .show-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #000000d3;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    transform: translateY(0%);
    transition: all 3s ease;
  }
  .show-nav a {
    animation: animate 1s;
    font-size: 1.5rem;
  }
  .burger {
    display: flex;
    z-index: 50;
  }
  .hero {
    display: block;
    width: 100%;
  }
  .left {
    text-align: center;
    width: 100%;
    height: 250px;
    animation: opacity-animation 3s linear infinite;
    animation-iteration-count: 1;
  }
  .left h1 {
    text-align: center;
    font-size: 2.5rem;
  }
  .left p {
    font-size: 1.3rem;
  }
  .right {
    width: 100%;
    display: grid;
    place-items: center;
    height: 250px;
    overflow: hidden;
    animation: opacity-animation 3s linear infinite;
    animation-iteration-count: 1;
  }
  .right img {
    width: 70%;
    height: auto;
  }
  .story {
    display: block;
  }
  .story h3 {
    width: 50px;
  }
  .story-details {
    margin-top: 20px;
  }
  .story p {
    font-size: 18px;
    line-height: 30px;
  }
  .projects {
    padding: 150px inherit;
  }
  .work-container {
    display: block;
  }
  .work-image,
  .work-text {
    width: 100%;
  }
  .number {
    display: inline-block;
  }
  .work-title {
    display: inline-block;
  }
  .work-text p:first-child {
    color: #b9b9b9;
    font-size: 15px;
  }
  .work-text p:nth-child(2) a {
    font-size: 25px;
    font-weight: 500;
    font-family: "Noto Serif", serif;
    color: #fff;
  }
  .top-work-text span {
    display: block;
  }
  .contact-form {
    display: block;
  }
  .contact-form form {
    width: 100%;
    margin-top: 100px;
  }
  .input-top {
    display: block;
    width: 100%;
  }
  .name-container,
  .email-container {
    width: 100%;
    margin-top: 80px;
  }
  .contact-link p {
    display: flex;
    column-gap: 0.5rem;
  }
  .btn {
    font-size: 1rem;
    width: 7.5rem;
    padding: 7px;
  }
  .footer-text1 {
    font-size: 25px;
  }
}
@media only screen and (max-width: 1023px) {
}
@media only screen and (max-width: 1023px) {
  .header-container {
    display: flex;
    align-items: center;
  }
}
@media only screen and (max-width: 1200px) {
  .hero {
    margin-top: 100px;
  }
}
@media only screen and (max-width: 1400px) {
  .hero {
    margin-top: 75px 0 150px;
  }
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: translateY(2em);
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
